* {
  font-family: comic sans ms;
  margin: 0;
  padding: 0;
}
body {
  background-color: khaki;
}
.kotak {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 5px 25px;

  background-color: tan;
  border-radius: 20px;
  border: 1px solid #262626;
  box-shadow: 10px 10px 1px #ffa580, 10px 10px 1px 1px #262626;

  text-align: center;
  color: #262626;
}
.a1 {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  text-align: center;
}
.a2 {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  text-align: center;
}
.h {
  float: right;
  width: calc(84% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  text-align: center;
}
.btn {
  width: 15%;
  padding: 5px 0;
  border: none;
  background-color: #fff;
  font-size: 18px;
  color: #262626;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: green;
}

/* <input type="button" name="tam" value="+" onclick="tambah()" /> */
